<!DOCTYPE html>                                               <!-- Index.hbs serves as a dynamic page rather than static assets-->

<html>
<head>    
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <title>404</title>
    <link rel="icon" href="/images/cloud.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{errormessage}}</p> 
    </div>
   
    {{>footer}}
</body>



</html>