<!DOCTYPE html>

<html>
<head>    
    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <title>Help</title>
    <link rel="icon" href="/images/cloud.png">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>contact {{name}} for info</p>
    </div>    
    {{>footer}}

</body>



</html>