<!DOCTYPE html>                                               <!-- Index.hbs serves as a dynamic page rather than static assets-->

<html>
<head>
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    
    <title>Weather</title>
    <link rel="icon" href="/images/cloug.png">


</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to see the weather forecast</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="msg-2"></p>
    
    </div>    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>



</html>